.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5em;
}

.search-container {
  width: 60vw;
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.search-input {
  width: 100%;
  background: #f8f8f8;
  padding: 0.5rem;
  line-height: 1.25;
  border: 1px solid transparent;
  border-bottom: 1px solid #adb5bd;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 0.25rem;
}
.search-no-result-container {
  color: #999;
}
.search-result-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.search-result-item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 1em;
  text-align: left;
}
.search-result-item span {
  flex: 0 0 auto;
}